In [1]:
%pip install yfinance

Requirement already satisfied: yfinance in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (0.1.59)
Requirement already satisfied: lxml>=4.5.1 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from yfinance) (1.2.4)
Requirement already satisfied: requests>=2.20 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from yfinance) (2.25.1)
Requirement already satisfied: numpy>=1.15 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from yfinance) (1.20.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\alexey\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alexey\anaconda3\envs\py3\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf
import pandas as pd

ticker = yf.Ticker('AAPL')
hist = ticker.history(period="1y", auto_adjust=True)

In [3]:

df = pd.DataFrame()

df['ds'] = hist.index
df['y'] = hist['Close'].values

df.tail()

            ds           y
247 2021-05-18  124.849998
248 2021-05-19  124.690002
249 2021-05-20  127.309998
250 2021-05-21  125.430000
251 2021-05-24  127.099998

In [4]:
df.describe()

                y
count  252.000000
mean   116.762949
std     15.447507
min     78.652542
25%    111.403704
50%    120.346333
75%    127.717728
max    142.704010

In [5]:
ticker.balance_sheet

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Total Liab,2.585490e+11,2.480280e+11,2.585780e+11,2.412720e+11
Total Stockholder Equity,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Other Current Liab,4.786700e+10,4.324200e+10,3.929300e+10,3.809900e+10
Total Assets,3.238880e+11,3.385160e+11,3.657250e+11,3.753190e+11
Common Stock,5.077900e+10,4.517400e+10,4.020100e+10,3.586700e+10
Other Current Assets,1.126400e+10,1.235200e+10,1.208700e+10,1.393600e+10
Retained Earnings,1.496600e+10,4.589800e+10,7.040000e+10,9.833000e+10
Other Liab,4.610800e+10,5.050300e+10,4.891400e+10,4.325100e+10
Treasury Stock,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Other Assets,3.395200e+10,3.297800e+10,2.228300e+10,1.817700e+10
Cash,3.801600e+10,4.884400e+10,2.591300e+10,2.028900e+10
Total Current Liabilities,1.053920e+11,1.057180e+11,1.159290e+11,1.008140e+11
Short Long Term Debt,8.773000e+09,1.026000e+10,8.784000e+09,6.496000e+09
Other Stockholder Equity,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Property Plant Equipment,4.533600e+10,3.737800e+10,4.130400e+10,3.378300e+10
Total Current Assets,1.437130e+11,1.628190e+11,1.313390e+11,1.286450e+11
Long Term Investments,1.008870e+11,1.053410e+11,1.707990e+11,1.947140e+11
Net Tangible Assets,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Short Term Investments,5.292700e+10,5.171300e+10,4.038800e+10,5.389200e+10
Net Receivables,3.744500e+10,4.580400e+10,4.899500e+10,3.567300e+10
Long Term Debt,9.866700e+10,9.180700e+10,9.373500e+10,9.720700e+10
Inventory,4.061000e+09,4.106000e+09,3.956000e+09,4.855000e+09
Accounts Payable,4.229600e+10,4.623600e+10,5.588800e+10,4.424200e+10

In [6]:
ticker.isin

'US0378331005'

In [7]:
tickerStrings = ['AAPL', 'MSFT']
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='2d')
    data['ticker'] = ticker  # add this column becasue the dataframe doesn't contain a column with the ticker
    df_list.append(data)

# combine all dataframes into a single dataframe
df = pd.concat(df_list)

# save to csv
# df.to_csv('ticker.csv')

df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2021-05-21,127.820000,128.000000,125.209999,125.430000,125.430000,79209300,AAPL
2021-05-24,126.010002,127.934998,125.940002,127.099998,127.099998,63092945,AAPL
2021-05-21,247.570007,248.330002,244.740005,245.169998,245.169998,21855500,MSFT
2021-05-24,247.785004,251.149994,247.509995,250.779999,250.779999,21411547,MSFT

In [8]:
tickers = 'AAPL,TSLA,MSFT,'
indices = 'SPY,'

df = yf.download(
    tickers = indices + tickers,
    group_by='ticker',
    start='2021-05-18', end='2021-05-23',
    interval = '1d',
    auto_adjust = True,
    threads = True
    )
#df = df.stack(level=0).rename_axis(['Date', 'Ticker']).reset_index(level=1)
#print(df["AAPL"])

#print(df)
print(f"MSFT close prices : {df['MSFT'].Close.values}")
df

[*********************100%***********************]  4 of 4 completed
MSFT close prices : [244.61515808 242.52000427 243.11999512 246.47999573 245.16999817]

                  TSLA                                                \
                  Open        High         Low       Close    Volume
Date
2021-05-17  575.549988  589.729980  561.200012  576.830017  32390400
2021-05-18  568.000000  596.250000  563.380005  577.869995  36830600
2021-05-19  552.549988  566.210022  546.979980  563.460022  39578400
2021-05-20  575.000000  588.849976  571.070007  586.780029  30821100
2021-05-21  596.109985  596.679993  580.000000  580.880005  25943600

                  MSFT                                                \
                  Open        High         Low       Close    Volume
Date
2021-05-17  245.982012  246.021913  242.958994  244.615158  24970200
2021-05-18  245.702658  245.842335  242.340411  242.520004  20168000
2021-05-19  239.309998  243.229996  238.600006  243.119995  25739800
2021-05-20  243.960007  247.949997  243.860001  246.479996  21800700
2021-05-21  247.570007  248.330002  244.740005  245.169998  21855500

                   SPY                                                 \
                  Open        High         Low       Close     Volume
Date
2021-05-17  415.390015  416.390015  413.359985  415.519989   65129200
2021-05-18  415.799988  416.059998  411.769989  411.940002   59810200
2021-05-19  406.920013  411.049988  405.329987  410.859985  106467100
2021-05-20  411.799988  416.630005  411.670013  415.279999   78022200
2021-05-21  416.869995  418.200012  414.450012  414.940002   76519100

                  AAPL
                  Open        High         Low       Close    Volume
Date
2021-05-17  126.820000  126.930000  125.169998  126.269997  74244600
2021-05-18  126.559998  126.989998  124.779999  124.849998  63342900
2021-05-19  123.160004  124.919998  122.860001  124.690002  92612000
2021-05-20  125.230003  127.720001  125.099998  127.309998  76857100
2021-05-21  127.820000  128.000000  125.209999  125.430000  79209300

In [9]:
spyPrices = df['SPY'][['Close']]
spyReturns = spyPrices.pct_change()
print(spyReturns.mean())
print(spyReturns.std())
#data.columns = [col[1] for col in data.columns]
#d2 = [data.iloc[:,i] for i in range(len(data.columns))]
#d2

Close   -0.000325
dtype: float64
Close    0.008105
dtype: float64