In [1]:
import yfinance as yf
import pandas as pd

ticker = yf.Ticker('AAPL')
hist = ticker.history(period="1y", auto_adjust=True)

In [2]:

df = pd.DataFrame()

df['ds'] = hist.index
df['y'] = hist['Close'].values

df.tail()

            ds           y
247 2021-05-17  126.269997
248 2021-05-18  124.849998
249 2021-05-19  124.690002
250 2021-05-20  127.309998
251 2021-05-21  125.430000

In [3]:
df.describe()

                y
count  252.000000
mean   116.572826
std     15.613719
min     78.652542
25%    111.110144
50%    120.306526
75%    127.717728
max    142.704010

In [4]:
ticker.balance_sheet

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Total Liab,2.585490e+11,2.480280e+11,2.585780e+11,2.412720e+11
Total Stockholder Equity,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Other Current Liab,4.786700e+10,4.324200e+10,3.929300e+10,3.809900e+10
Total Assets,3.238880e+11,3.385160e+11,3.657250e+11,3.753190e+11
Common Stock,5.077900e+10,4.517400e+10,4.020100e+10,3.586700e+10
Other Current Assets,1.126400e+10,1.235200e+10,1.208700e+10,1.393600e+10
Retained Earnings,1.496600e+10,4.589800e+10,7.040000e+10,9.833000e+10
Other Liab,4.610800e+10,5.050300e+10,4.891400e+10,4.325100e+10
Treasury Stock,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Other Assets,3.395200e+10,3.297800e+10,2.228300e+10,1.817700e+10
Cash,3.801600e+10,4.884400e+10,2.591300e+10,2.028900e+10
Total Current Liabilities,1.053920e+11,1.057180e+11,1.159290e+11,1.008140e+11
Short Long Term Debt,8.773000e+09,1.026000e+10,8.784000e+09,6.496000e+09
Other Stockholder Equity,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Property Plant Equipment,4.533600e+10,3.737800e+10,4.130400e+10,3.378300e+10
Total Current Assets,1.437130e+11,1.628190e+11,1.313390e+11,1.286450e+11
Long Term Investments,1.008870e+11,1.053410e+11,1.707990e+11,1.947140e+11
Net Tangible Assets,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Short Term Investments,5.292700e+10,5.171300e+10,4.038800e+10,5.389200e+10
Net Receivables,3.744500e+10,4.580400e+10,4.899500e+10,3.567300e+10
Long Term Debt,9.866700e+10,9.180700e+10,9.373500e+10,9.720700e+10
Inventory,4.061000e+09,4.106000e+09,3.956000e+09,4.855000e+09
Accounts Payable,4.229600e+10,4.623600e+10,5.588800e+10,4.424200e+10

In [5]:
ticker.isin

'US0378331005'

In [6]:
tickerStrings = ['AAPL', 'MSFT']
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='2d')
    data['ticker'] = ticker  # add this column becasue the dataframe doesn't contain a column with the ticker
    df_list.append(data)

# combine all dataframes into a single dataframe
df = pd.concat(df_list)

# save to csv
# df.to_csv('ticker.csv')

df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2021-05-20,125.230003,127.720001,125.099998,127.309998,127.309998,76857100,AAPL
2021-05-21,127.820000,128.000000,125.209999,125.430000,125.430000,79209300,AAPL
2021-05-20,243.960007,247.949997,243.860001,246.479996,246.479996,21800700,MSFT
2021-05-21,247.570007,248.330002,244.740005,245.169998,245.169998,21855500,MSFT